@media screen and (max-width: 699px) {
    #navbar-toggle,
    #navbar-menu {
        display: none;
    }
}

footer {
        display: none;
}

@media screen and (max-width: 700px) {
  /* Change background color of navbar container */
  .navbar-container {
    background-color: #fce6d1; /* Change to your desired color */
  }

  /* Change text color of home link */
  .home-link {
    color: #3a3c51; /* Change to your desired color */
  }
}